* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-cont {
    height: 100vh;
    background-color: #bfdbfe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

.books-cont {
    padding: 40px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.books {
    height: 100vh;
    background-color: #1e293b;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.book-card {
    background-color: #e2e8f0;
    width: 360px;
    max-height: 250px;
    font-size: 1.3rem;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 50px 30px 30px 30px;
    position: relative;
}

.new-book-btn {
    width: 200px;
    align-self: center;
    padding: 20px;
    background-color: #312e81;
    height: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.new-book-btn:hover {
    background-color: #fff;
    color: #312e81;
}

.book-form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 300px;
    gap: 20px;
    background-color: ghostwhite;
    border-radius: 10px;
    display: none;
    transform: translate(-50%, -50%);
    padding-top: 30px;
}

.submit-btn {
    padding: 20px;
    background-color: #10b981;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    font-size: 1rem;
    border-radius: 20px;
}

.fa-book {
    font-size: 2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.fa-trash {
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.title-cont,
.author-cont,
.pages-cont {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding: 0 10px 0 10px;
}

.modal-backdrop {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.cancel {
    width: 35px;
    height: 35px;
    background-color: red;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 10px 0 10px;
}

.input-field {
    border-radius: 10px;
    border: 1px solid black;
    width: 200px;
    padding: 5px 3px 5px 3px;
}

.read-book {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.read-cont {
    display: flex;
}

.moi {
    color: pink;
}
